.searchBox {
  display: block;
  width: 400px;
}

input {
  margin-bottom: 20px;
  height: 40px;
  background-color: transparent;
}

@media only screen and (max-width: 450px) {
  .searchBox {
    width: 100%;
  }
}
