.FriendListItem {
  width: 100px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.FriendListItem img {
  width: 100%;
  margin-bottom: 15px;
}

.name {
  font-size: 32px;
}

.onlineStatus {
  color: red;
}

.onlineStatus.online {
  color: green;
}
