.FriendListItem {
  width: 130px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 5px;
}

.FriendListItem img {
  width: 100%;
  margin-bottom: 15px;
}

.name {
  font-size: 32px;
}

.onlineStatus {
  color: red;
}

.onlineStatus.online {
  color: green;
}

@media only screen and (max-width: 330px) {
  .FriendListItem {
    width: 95px;
    padding: 5px;
  }
  .name {
    font-size: 22px;
  }
}
