.formWrap {
  position: sticky;
  top: 7px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0;
  margin: 0 auto;
  padding: 4px 0;
}

form {
  position: relative;
}

input {
  min-width: 243px;
  height: 30px;

  padding-left: 25px;
  border: transparent;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.534);
  outline: transparent;
}

.searchBtn {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  padding: 0;
  border: transparent;
  background-color: transparent;
  outline: transparent;
  transition: transform ease-in-out 500ms;
}
.searchBtn:hover,
.searchBtn:focus {
  transform: scale(1.6);
}

.toast {
  position: absolute;
  top: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.271);
  color: white;
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 767px) {
  .formWrap {
    top: 52px;
    width: 100%;
    background-color: #0d253f;
  }
}
