.image:hover {
  cursor:
    url("./hand.svg") 17 4,
    pointer;
}

.item {
  position: relative;
  width: 100%;
  max-width: 360px;
  outline: transparent;
}
.item:hover::after,
.item:focus-within::after {
  content: "";
  position: absolute;
  right: -22px;
  bottom: -30px;
  width: 44px;
  height: 44px;
  z-index: 22;
  background-image: url("./hand.svg");
  background-repeat: no-repeat;
}
.item:hover::after {
  background-image: url("./mouse-svgrepo-com.svg");
}

.imageLink {
  outline: transparent;
}

.image {
  height: 152px;
  border: 1px solid #808080;
  transition: transform ease-in-out 500ms;
  border-radius: 10px;
  overflow: hidden;
}
.image:hover,
.item:focus-within .image {
  z-index: 22;
  transform: scale(1.04);
}

.author {
  position: absolute;
  bottom: 3px;
  left: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  outline: transparent;
}

.avatar {
  flex-shrink: 0;
  width: 20px;
  overflow: hidden;
  margin: 0;
  border: 1px solid white;
  border-radius: 50%;
}

.description,
.authorName {
  position: absolute;
  top: -100%;
  padding: 10px;
  font-size: 9px;
  background-color: rgba(181, 181, 244, 0.846);
  opacity: 0;
  z-index: 33;
  border-radius: 10px;
  transition: opacity 500ms ease;
}
.description {
  right: 0;
}
.item:focus-within .description,
.item:hover .description,
.description:hover,
.author:hover .authorName,
.author:focus-within .authorName {
  opacity: 1;
}
.author:hover .description,
.author:focus .description {
  opacity: 0;
}

/* ========== adapt styles ========== */
@media only screen and (max-width: 425px) {
  .item,
  .image {
    width: 100%;
    height: unset;
  }
}
