.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 555;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ReactModal__Overlay--after-open,
.ReactModal__Content--after-open {
  opacity: 1;
}
.ReactModal__Overlay--after-close,
.ReactModal__Content--after-close {
  opacity: 0;
}

.pictureWrapper {
  position: relative;
  width: 100%;
}

.picture {
  width: 100%;
  max-height: 95vh;
}

.aboutPicture {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
  backdrop-filter: blur(5px);
}

.modalCloseBtn {
  position: absolute;
  top: 3px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: transparent;
  background-color: transparent;
  color: blue;
  font-size: 40px;
  transition: color 500ms ease;
}
.modalCloseBtn:hover {
  color: aqua;
}

@media only screen and (max-width: 425px) {
  .modalContent {
    width: 100%;
    height: unset;
  }
}
