body {
  padding: 20px;
  padding-top: 80px;
  background-color: #0d253f;
  color: white;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid grey;
  background-color: #0d253f;
}

.colorSwitcherBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111;
  width: 30px;
  height: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid grey;
  background-color: #0d253f;
}

h1,
h2 {
  text-align: center;
}

footer .logo {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 150px;
  height: 12px;
  background-color: #0d253f;
  background-image: url("./img/tmdb_blue_long.svg");
  background-repeat: no-repeat;
}

@media only screen and (max-width: 450px) {
  footer .logo {
    top: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    background-position: center, 10px;
  }
}
