#root {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2% 5%;
}

.feedback {
  max-width: 695px;
  margin: 0 auto;
  line-height: 1.5;
}

section div {
  margin-bottom: 10px;
}

button{
  margin-right: 5px;
}