.colorSwitcherBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11111;
  width: 30px;
  height: 30px;
}

header {
  width: 100%;
  border-bottom: 2px solid grey;
  background-image: linear-gradient(rgba(0, 0, 255, 0.651), rgb(32, 21, 153));
}

body {
  background-color: rgba(108, 108, 158, 0.562);
}

.toast {
  position: absolute;
  top: 20px;
  padding: 30px;
  border-radius: 40px;
  background-color: rgba(105, 67, 67, 0.271);
  color: white;
  backdrop-filter: blur(4px);
}

.toastEnd {
  background-color: rgba(214, 58, 58, 0.271);
}

.link {
  text-decoration: underline;
}
