:root {
  /* background-color: #242424;
  color: rgba(255, 255, 255, 0.87); */
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1;
  letter-spacing: 0.03em;
  scroll-behavior: smooth;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  /* display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  line-height: 1.2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  /* text-decoration: none; */
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

button {
  min-height: 32px;
  border: transparent;
  outline: transparent;
  cursor: pointer;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModal__Overlay--after-close {
  opacity: 0;
}
