.castUl {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
}

.castItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 350px;
}

.castItem img {
  width: 150px;
  margin: 20px;
}

.aboutActor {
}
