.loadBtn {
  color: white;
  display: block;
  background-color: #01b4e4;
  border-radius: 20px;
  min-width: 150px;
  margin: 0 auto 30px;
  transition: transform 500ms ease;
}
.loadBtn:hover {
  transform: scale(1.1);
}
